@font-face {
  font-family: "MarkPro";
  font-display: swap;
  src: url("./Fonts/MarkPro.woff2") format("woff2"),
    url("./Fonts/MarkPro.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Vinter-Medium'";
  font-display: swap;
  src: url("./Fonts/VinterWeb-Medium.woff2") format("woff2");
  font-weight: normal;
}

* {
  border: 1px solid red;
}
